/* body */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    padding-right: 40px;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #004cb4;
    padding: 10px 20px;
    width: 100%;
    height: 10vh;
}

.logo {
    height: 40px;
}

.logout-btn {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border: 2px solid white;
    border-radius: 6px;
    transition: 0.2s;
}

.logout-btn:hover {
    background-color: #005bbb;
    color: white;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.sidebar a {
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
}

.sidebar a:hover {
    background: #444;
}

.Layout {
    display: flex;
    height: calc(100vh - 80px);
}

/* Main content */
#content {
    flex: 1;
    padding: 20px;
    background-color: white;
}

/* Inloggen */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login-form {
    display: flex;
    flex-direction: column;
}

.Login-btn {
    padding: 10px;
    background-color: #004cb4;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}